:root {
  --pokedex-red: #cc322a;
  --vintage-cream: #e6d596;
  --dark-maroon: #642c34;
  --clay-pink: #b45c64;
  --lcd-blue: #a7b9d3;
  --deep-brown: #4c3434;
  
  --pixel-shadow: 4px 4px 0px var(--deep-brown);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--dark-maroon);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: var(--vintage-cream);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/pokedex-background.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(6px) opacity(0.15);
  z-index: -1;
  pointer-events: none;
}

.press-start {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  line-height: 1.2;
}

.page_title {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 2rem 10px;
  color: var(--pokedex-red);
  /* Sombra sólida tipo retro */
  text-shadow: 3px 3px 0px var(--deep-brown);
  /* Tamaño responsivo: mínimo 1.5rem, ideal 4vw, máximo 2.5rem */
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out, transform 0.2s ease;
}

a:hover {
  color: var(--clay-pink);
  transform: translateY(-2px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}